<!doctype html>
<html>
    <head>
        <title>Idle Mine: Remix</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="main.css"/>
        <link id="css_theme" rel="stylesheet" href="Themes/light.css"/>
    
        <meta name="description" :content="$t('meta.description')"/>
        <meta name="keywords" content="games, game, idle, incremental, idle mine, idle mine remix"/>
        <meta name="url" content="https://veprogames.github.io/idle-mine-remix"/>
        <meta name="og:title" :content="$t('meta.title')"/>
        <meta name="og:type" content="website"/>
        <meta name="og:url" content="https://veprogames.github.io/idle-mine-remix"/>
        <meta name="og:description" :content="$t('meta.description')"/>
        <meta name="og:image" content="https://veprogames.github.io/idle-mine-remix/Images/logo.png"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" :content="$t('meta.title')"/>
        <meta name="twitter:description" :content="$t('meta.description')"/>
        <meta name="twitter:image" content="https://veprogames.github.io/idle-mine-remix/Images/logo.png"/>
    </head>    
<body>

<div id="app">
    <canvas id="cache" ref="cache" width="256" height="224"></canvas>
    <header>
        <h1 style="flex-grow: 1;">Idle Mine: Remix</h1>
        <span style="flex-grow: 1.1; text-align: center;">{{formatNumber(money, 2, 1e12)}} $</span>
        <span class="inline-resource" style="flex-grow: 1;  justify-content: flex-end;"><img class="inline" src="Images/gem.png"/> {{formatNumber(gems, 2, 1e12, 0)}}</span>
        <span class="inline-resource" v-if="highestMineObjectLevel >= 90" style="flex-grow: 1;  justify-content: flex-end;"><img class="inline" src="Images/planetcoin.png"/> {{formatNumber(planetCoins, 2, 1e12, 0)}}</span>
    </header>
    <main>
        <article class="main" v-if="settings.tab === 'main'">
            <div class="mineobject">
                <button class="changemineobj" :style="{visibility: mineObjectLevel > 0 ? 'visible' : 'hidden'}" @click="prevMineObjectLevel()"><img class="left" src="Images/btn_left.png"/></button>
                <div>
                    <h4 v-if="settings.showMineObjLevel">#{{mineObjectLevel + 1}}</h4>
                    <mine-object :level="mineObjectLevel"></mine-object>
                    <h2>{{ $t('mineObjects.' + currentMineObject.name) }}</h2>
                    <p>HP: {{formatNumber(currentMineObject.hp, 2, 1e12)}}</p>
                    <p>D: {{formatNumber(currentMineObject.def, 2, 1e12)}}</p>
                    <p style="margin: 0;">${{formatNumber(currentMineObject.value, 2, 1e12)}}</p>
                    <p style="margin: 0.7rem;" v-if="currentMineObject.drops.planetcoin !== undefined">{{formatPercent(currentMineObject.drops.planetcoin.chance, 1)}} for
                    <span class="inline-resource"><img class="inline" src="Images/planetcoin.png"/> {{formatNumber(currentMineObject.drops.planetcoin.amount, 2, 1e9)}}</span></p>
                    <p style="margin: 0.7rem;" v-if="currentMineObject.drops.wisdom !== undefined">{{formatPercent(currentMineObject.drops.wisdom.chance, 1)}} for
                        <span class="inline-resource"><img class="inline" src="Images/wisdom.png"/> {{formatNumber(currentMineObject.getTotalWisdom(), 2, 1e9)}}</span></p>
                </div>
                <button class="changemineobj" :style="{visibility: mineObjectLevel < highestMineObjectLevel ? 'visible' : 'hidden'}" @click="nextMineObjectLevel()"><img class="right" src="Images/btn_right.png"/></button>
            </div>
            <div>
                <div class="upg-tabs" v-if="gemUpgradesUnlocked()">
                    <button @click="settings.upgradeTab = 'money'">
                        <span class="inline-resource"><img class="inline" src="Images/money.png"/> {{ $t('upgrades.money') }}</span>
                    </button>
                    <button @click="settings.upgradeTab = 'gems'">
                        <span class="inline-resource"><img class="inline" src="Images/gem.png"/> {{ $t('upgrades.gems') }}</span>
                    </button>
                    <button @click="settings.upgradeTab = 'planetcoins'" v-if="highestMineObjectLevel >= 90">
                        <span class="inline-resource"><img class="inline" src="Images/planetcoin.png"/> {{ $t('upgrades.planetcoins') }}</span>
                    </button>
                </div>                
                <div class="upgradelist-wrapper">
                    <div class="upgradelist" v-if="settings.upgradeTab === 'money'">
                        <upgrade v-for="u in upgrades" :key="u.name" :upg="u"></upgrade>
                    </div>
                    <div class="upgradelist" v-if="settings.upgradeTab === 'gems'">
                        <upgrade class="gem" v-for="u in gemUpgrades" :key="u.name" :upg="u"></upgrade>
                    </div>
                    <div class="upgradelist" v-if="settings.upgradeTab === 'planetcoins'">
                        <upgrade class="pc" v-for="u in planetCoinUpgrades" :key="u.name" :upg="u"></upgrade>
                    </div>
                </div>
                <div class="highlightedupgrade" v-if="highlightedUpgrade !== null">
                    <div>
                        <h3>{{highlightedUpgrade.name}}</h3>
                        <span>{{highlightedUpgrade.desc}}</span><br/>
                        <span><b>{{highlightedUpgrade.getEffectDisplay()}}</b></span><br/>
                        <span><b>{{highlightedUpgrade.getPriceDisplay()}}</b></span><br/>
                    </div>
                    <div>
                        <p>
                            <span class="multibuy" :class="{active: keyPressed('Shift') && !keyPressed('Control')}">
                                {{ $t('multibuy.shift') }}
                            </span><br/>
                            <span class="multibuy" :class="{active: keyPressed('Control')}">
                                {{ $t('multibuy.ctrl') }}
                            </span>
                        </p>
                    </div>                    
                </div>
            </div>
            <div class="stats">
                <div>
                    <p><img src="Images/pickaxe.png" alt="pickaxe" class="inline" /> {{pickaxe.name}}</p>
                    <p>P: {{formatNumber(pickaxe.pow, 2, 1e12)}}</p>
                    <p>Q: {{formatPercent(pickaxe.quality, 0, 1e12)}}</p>
                    <p>Base Dmg: {{formatNumber(pickaxe.getDamage(), 2, 1e12)}}</p>
                </div>
                <div class="resources" style="text-align: right">
                    <p :class="{red: getActiveDamage().eq(0)}">{{ $t('stats.damageClick') }}<br/>{{formatNumber(getActiveDamage(), 2, 1e12)}}</p>
                    <p :class="{red: getIdleDamage().eq(0)}">{{ $t('stats.damageSecond') }}<br/>{{formatNumber(getIdleDPS(), 2, 1e12)}}</p>
                    <p>{{ $t('stats.moneyClick') }}<br/>{{formatNumber(getMPC(), 2, 1e12, 2)}} $</p>
                    <p>{{ $t('stats.moneySecond') }}<br/>{{formatNumber(getMPS(), 2, 1e12, 2)}} $</p>
                    <div>{{ $t('stats.avgGemsSecond') }}<br/>
                        <p style="margin: 0;" class="inline-resource">{{formatNumber(getGPS(), 2, 1e12, 3)}} <img class="inline" src="Images/gem.png"/></p>
                    </div>
                    <div v-if="maxPlanetCoins.gt(0)">{{ $t('stats.avgPlanetCoinsSecond') }}<br/>
                        <p style="margin: 0;" class="inline-resource">{{formatNumber(getPCPS(), 2, 1e12, 3)}} <img class="inline" src="Images/planetcoin.png"/></p>
                    </div>
                </div>       
            </div>
            <div style="margin-top: 3.5rem;">
                <div class="messagelog">
                    <p v-for="m in messageLog" :style="{color: m.color}">{{m.message}}</p>
                </div>
                <div class="craft-pickaxe">
                    <button class="level-change" @click="usedGemsLevel--" v-if="upgrades.gemWaster.level > 0" :disabled="usedGemsLevel === 0">
                        <img v-if="usedGemsLevel > 0" class="left level-change" src="Images/btn_left.png"/>
                    </button>
                    <button @click="craftPick(getUsedGems())">
                        {{ $t('pickaxe.craft') }} <br/>
                        <span v-if="settings.showMinCraftDamage" style="font-size: 60%; display: block;">
                            {{ $t('pickaxe.minBaseDamage') }}: {{ formatNumber(getMinCraftDamage(), 2, 1e12, 0) }}
                        </span>
                        <span class="inline-resource">
                            <img class="inline" src="Images/gem.png"/>
                            {{ formatThousands(getUsedGems()) }}
                            <span v-if="keyPressed('Shift') && applyUpgrade(planetCoinUpgrades.bulkCraft).gt(1)">
                                &nbsp;x {{ applyUpgrade(planetCoinUpgrades.bulkCraft).toFixed(0) }}
                            </span>
                        </span>
                    </button>                    
                    <button class="level-change" @click="usedGemsLevel++" v-if="upgrades.gemWaster.level > 0"  :disabled="usedGemsLevel === upgrades.gemWaster.level + gemUpgrades.gemWaster.level">
                        <img v-if="usedGemsLevel < upgrades.gemWaster.level + gemUpgrades.gemWaster.level" class="right level-change" src="Images/btn_right.png"/>
                    </button>
                </div>
            </div>
        </article>
        <article v-if="settings.tab === 'powers'" class="powers">
            <p class="wisdom">
                <span class="inline-resource">
                    {{ $t('powers.youHave') }} <img class="inline" src="Images/wisdom.png"/> {{ formatNumber(wisdom, 2, 1e12, 0) }}
                </span>
            </p>
            <p>
                <img class="inline" src="Images/wisdom.png"/> {{ $t('powers.description') }}
            </p>
            <powers-table :pow="powers.data"></powers-table>
        
            <div class="powers-upgrades">
                <upgrade-standalone :upg="powers.upgrades.powerPowerActive"></upgrade-standalone>
                <upgrade-standalone :upg="powers.upgrades.powerPowerIdle"></upgrade-standalone>
                <upgrade-standalone :upg="powers.upgrades.damageBoost"></upgrade-standalone>
                <upgrade-standalone :upg="powers.upgrades.gemBoostSimple"></upgrade-standalone>
                <upgrade-standalone :upg="powers.upgrades.damageBoostUpgrades"></upgrade-standalone>
                <upgrade-standalone :upg="powers.upgrades.powerPowerPower"></upgrade-standalone>
                <upgrade-standalone :upg="powers.upgrades.powerResetKeep"></upgrade-standalone>
            </div>
        </article>        
        <article v-if="settings.tab === 'settings'" class="settings">
            <h2>{{ $t('settings.title') }}</h2>
            <p>{{ $t('settings.description') }}</p>
        
            <span>{{ $t('settings.language') }}</span>
            <select @change="changeLanguage($event.target.value)" :value="settings.language">
                <option value="en">{{ $t('settings.languageOptions.en') }}</option>
                <option value="pt">{{ $t('settings.languageOptions.pt') }}</option>
            </select>
        
            <span>{{ $t('settings.numberFormat') }}</span>
            <select ref="numberformatselect" @input="numberFormatter = numberFormatters[$event.target.selectedIndex]; settings.numberFormatterIndex = $event.target.selectedIndex;">
                <option v-for="(f, i) in numberFormatters">{{ f.name }}</option>
            </select>
        
            <br/>
        
            <span>{{ $t('settings.theme') }}</span>
            <button @click="setTheme('light'); saveGame();">{{ $t('settings.themeOptions.light') }}</button>
            <button @click="setTheme('dark'); saveGame();">{{ $t('settings.themeOptions.dark') }}</button>
        
            <br/>
        
            <label>
                <span>{{ $t('settings.showMineObjLevel') }}</span>
                <input type="checkbox" v-model="settings.showMineObjLevel"/>
            </label>
        
            <br/>
        
            <label>
                <span>{{ $t('settings.showMinCraftDamage') }}</span>
                <input type="checkbox" v-model="settings.showMinCraftDamage"/>
            </label>
        
            <br/>
        
            <button @click="saveGame()">{{ $t('save') }}</button>
            <button @click="exportGame()">{{ $t('settings.export') }}</button>
            <button @click="loadGame(settings.exportFieldString)">{{ $t('settings.import') }}</button>
            <button @click="hardReset()">{{ $t('settings.hardReset') }}</button>
        
            <br/>
        
            <p>{{ $t('settings.note') }}</p>
            <textarea v-model="settings.exportFieldString"></textarea>
        
            <p>{{ $t('settings.thanks') }} <a target="_blank" href="https://www.kongregate.com/games/crovie/idle-mine"><i>Idle Mine</i></a></p>
            <p>{{ $t('settings.notations') }} <a target="_blank" href="https://github.com/antimatter-dimensions/notations"><i>ad-notations</i></a>.</p>
        
            <div class="social">
                <a target="_blank" href="https://www.youtube.com/veprogames"><img src="Images/social/youtube.png"/></a>
                <span>{{ $t('settings.social.youtube') }}</span>
                <a target="_blank" href="https://veprogames.github.io"><img src="Images/social/cook1eegames.png"/></a>
                <span>{{ $t('settings.social.website') }}</span>
                <a target="_blank" href="https://idle-mine-remix.fandom.com/wiki/"><img src="Images/social/wiki.png"/></a>
                <span>{{ $t('settings.social.wiki') }}</span>
            </div>
        </article>        
        <article v-if="settings.tab === 'story'" class="story">
            <div class="chapter-control">
                <button @click="decreaseStoryPage"><img v-if="story.page > 0" class="left" src="Images/btn_left.png"/></button>
                <h3>{{ $t('story.chapter', { number: story.page + 1, title: $t(`story.chapters[${story.page}]`) }) }}</h3>
                <button @click="increaseStoryPage"><img v-if="story.page < getMaxStoryPage()" class="right" src="Images/btn_right.png"/></button>
            </div>
            <div class="story-milestones" ref="storymilestones">
                <div v-if="storyDisplayed('gameStart')">
                    <h3>{{ $t('story.gameStart.title') }}</h3>
                    <p>{{ $t('story.gameStart.text1') }}</p>
                    <p>{{ $t('story.gameStart.text2') }}</p>
                </div>
            
                <div v-if="storyDisplayed('firstMud')">
                    <p>{{ $t('story.firstMud.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="0" :nodamage="true"></mine-object>
                        <span>{{ $t('story.firstMud.quote') }}</span>
                    </div>
                    <p>{{ $t('story.firstMud.text2') }}</p>
                </div>
            
                <div v-if="storyDisplayed('firstPaper')">
                    <p>{{ $t('story.firstPaper.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="1" :nodamage="true"></mine-object>
                        <span>{{ $t('story.firstPaper.quote') }}</span>
                    </div>
                    <p>{{ $t('story.firstPaper.text2') }}</p>
                    <h4>{{ $t('story.firstPaper.howToGetGems') }}</h4>
                    <p>{{ $t('story.firstPaper.gemExplanation') }}</p>
                    <h4>{{ $t('story.firstPaper.statsTitle') }}</h4>
                    <p>{{ $t('story.firstPaper.statsText') }}</p>
                </div>
            
                <div v-if="storyDisplayed('blacksmithUpgrade')">
                    <p>{{ $t('story.blacksmithUpgrade.text1') }}</p>
                    <div class="story-quote">
                        <img src="Images/upgrades/blacksmith.png"/>
                        <span>{{ $t('story.blacksmithUpgrade.quote') }}</span>
                    </div>
                    <p>{{ $t('story.blacksmithUpgrade.text2') }}</p>
                    <h3>{{ $t('story.blacksmithUpgrade.whenToCraft') }}</h3>
                    <p>{{ $t('story.blacksmithUpgrade.craftExplanation') }}</p>
                </div>
            
                <div v-if="storyDisplayed('firstSalt')">
                    <p>{{ $t('story.firstSalt.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="2" :nodamage="true"></mine-object>
                        <span>{{ $t('story.firstSalt.quote') }}</span>
                    </div>
                    <p>{{ $t('story.firstSalt.text2') }}</p>
                </div>
                <div v-if="storyDisplayed('firstClay')">
                    <p>{{ $t('story.firstClay.text1') }}</p>
                    <div class="story-quote"><mine-object :level="3" :nodamage="true"></mine-object><span>{{ $t('story.firstClay.quote') }}</span></div>
                    <p>{{ $t('story.firstClay.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('firstStone')">
                    <p>{{ $t('story.firstStone.text1') }}</p>
                    <div class="story-quote"><mine-object :level="4" :nodamage="true"></mine-object><span>{{ $t('story.firstStone.quote') }}</span></div>
                    <p>{{ $t('story.firstStone.text2') }}</p>
                    <h4>{{ $t('story.firstStone.offlineIncomeTitle') }}</h4>
                    <p>{{ $t('story.firstStone.offlineIncomeText') }}</p>
                </div>
                
                <div v-if="storyDisplayed('tenThousand')">
                    <div class="story-quote"><img src="Images/money.png"/><span>{{ $t('story.tenThousand.quote') }}</span></div>
                    <p>{{ $t('story.tenThousand.text1') }}</p>
                    <p>{{ $t('story.tenThousand.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('firstSpookyBone')">
                    <p>{{ $t('story.firstSpookyBone.text1') }}</p>
                    <div class="story-quote"><mine-object :level="12" :nodamage="true"></mine-object><span>{{ $t('story.firstSpookyBone.quote') }}</span></div>
                    <p>{{ $t('story.firstSpookyBone.text2', { amount: formatThousands(14000) }) }}</p>
                </div>
                
                <div v-if="storyDisplayed('millionaire')">
                    <p>{{ $t('story.millionaire.text1') }}</p>
                    <div class="story-quote"><img src="Images/money.png"/><span>{{ $t('story.millionaire.quote') }}</span></div>
                    <p>{{ $t('story.millionaire.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('preciousStones')">
                    <p>{{ $t('story.preciousStones.text1') }}</p>
                    <div class="story-quote"><mine-object :level="18" :nodamage="true"></mine-object><span>{{ $t('story.preciousStones.quote') }}</span></div>
                    <p>{{ $t('story.preciousStones.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('gemWaster')">
                    <p>{{ $t('story.gemWaster.text1') }}</p>
                    <div class="story-quote"><img src="Images/upgrades/gemwaster.png"/><span>{{ $t('story.gemWaster.quote') }}</span></div>
                </div>
                
                <div v-if="storyDisplayed('unrealStones')">
                    <p>{{ $t('story.unrealStones.text1') }}</p>
                    <div class="story-quote"><mine-object :level="27" :nodamage="true"></mine-object><span>{{ $t('story.unrealStones.quote') }}</span></div>
                    <p>{{ $t('story.unrealStones.text2') }}</p>
                    <p>{{ $t('story.unrealStones.text3') }}</p>
                </div>
                
                <div v-if="storyDisplayed('fireEssence')">
                    <p>{{ $t('story.fireEssence.text1') }}</p>
                    <div class="story-quote"><mine-object :level="33" :nodamage="true"></mine-object><span>{{ $t('story.fireEssence.quote') }}</span></div>
                    <p>{{ $t('story.fireEssence.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('mysterium')">
                    <div class="story-quote"><mine-object :level="35" :nodamage="true"></mine-object><span>{{ $t('story.mysterium.quote') }}</span></div>
                    <p>{{ $t('story.mysterium.text1') }}</p>
                </div>
                
                <div v-if="storyDisplayed('fiftyTrillion')">
                    <p>{{ $t('story.fiftyTrillion.text1') }}</p>
                    <div class="story-quote"><img src="Images/money.png"/><span>{{ $t('story.fiftyTrillion.quote') }}</span></div>
                    <p>{{ $t('story.fiftyTrillion.text2') }}</p>
                    <button @click="payUSDebt()">{{ $t('story.fiftyTrillion.button') }} ($ {{ formatThousands(22e12, 1e100) }})</button>
                </div>
                
                <div v-if="storyDisplayed('lightEssence')">
                    <p>{{ $t('story.lightEssence.text1') }}</p>
                    <div class="story-quote"><mine-object :level="47" :nodamage="true"></mine-object><span>{{ $t('story.lightEssence.quote') }}</span></div>
                    <p>{{ $t('story.lightEssence.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('hellStone')">
                    <p>{{ $t('story.hellStone.text1') }}</p>
                    <div class="story-quote"><mine-object :level="50" :nodamage="true"></mine-object><span>{{ $t('story.hellStone.quote') }}</span></div>
                    <p>{{ $t('story.hellStone.text2') }}</p>
                </div>                
                <div v-if="storyDisplayed('hellStoneFinal')">
                    <h3>{{ $t('story.hellStoneFinal.title') }}</h3>
                    <p>{{ $t('story.hellStoneFinal.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="54" :nodamage="true"></mine-object>
                        <span>{{ $t('story.hellStoneFinal.quote') }}</span>
                    </div>
                    <p>{{ $t('story.hellStoneFinal.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('infinitum')">
                    <p>{{ $t('story.infinitum.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="55" :nodamage="true"></mine-object>
                        <span>{{ $t('story.infinitum.quote') }}</span>
                    </div>
                    <p>{{ $t('story.infinitum.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('theGem')">
                    <p>{{ $t('story.theGem.text1') }}</p>
                    <p>{{ $t('story.theGem.text2') }}</p>
                    <div class="story-quote">
                        <mine-object :level="60" :nodamage="true"></mine-object>
                        <span>{{ $t('story.theGem.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('gemUpgrades')">
                    <p><b>{{ $t('story.gemUpgrades.text1') }}</b></p>
                    <p>{{ $t('story.gemUpgrades.text2') }}</p>
                    <div class="story-quote">
                        <img src="Images/gem.png"/>
                        <span>{{ $t('story.gemUpgrades.quote') }}</span>
                    </div>
                    <p>{{ $t('story.gemUpgrades.text3') }}</p>
                </div>
                
                <div v-if="storyDisplayed('fractalium')">
                    <p>{{ $t('story.fractalium.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="68" :nodamage="true"></mine-object>
                        <span v-html="$t('story.fractalium.quote')"></span>
                    </div>
                    <p>{{ $t('story.fractalium.text2', { value: numberFormatter.format(150e30) }) }}</p>
                    <p>{{ $t('story.fractalium.text3') }}</p>
                </div>                
                
                <div v-if="storyDisplayed('reachPortal')">
                    <p>{{ $t('story.reachPortal.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="71" :nodamage="true"></mine-object>
                        <span>{{ $t('story.reachPortal.quote') }}</span>
                    </div>
                    <p>{{ $t('story.reachPortal.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('breakPortal')">
                    <p>{{ $t('story.breakPortal.text1') }}</p>
                    <p>{{ $t('story.breakPortal.text2') }}</p>
                    <div class="story-quote">
                        <span>{{ $t('story.breakPortal.quote') }}</span>
                    </div>
                    <p>{{ $t('story.breakPortal.text3') }}</p>
                </div>
                
                <div v-if="storyDisplayed('proceduralRealm1')">
                    <p>{{ $t('story.proceduralRealm1.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="75" :nodamage="true"></mine-object>
                        <span>{{ $t('story.proceduralRealm1.quote') }}</span>
                    </div>
                    <p>{{ $t('story.proceduralRealm1.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('reachSpacePortal')">
                    <p>{{ $t('story.reachSpacePortal.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="89" :nodamage="true"></mine-object>
                        <span>{{ $t('story.reachSpacePortal.quote') }}</span>
                    </div>
                    <p>{{ $t('story.reachSpacePortal.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('breakSpacePortal')">
                    <p>{{ $t('story.breakSpacePortal.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="90" :nodamage="true"></mine-object>
                        <span>{{ $t('story.breakSpacePortal.quote') }}</span>
                    </div>
                    <p>{{ $t('story.breakSpacePortal.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('planetcoin')">
                    <p>{{ $t('story.planetcoin.text1') }}</p>
                    <div class="story-quote">
                        <img src="Images/planetcoin.png"/>
                        <span>{{ $t('story.planetcoin.quote') }}</span>
                    </div>
                    <p>{{ $t('story.planetcoin.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('pluto')">
                    <p>{{ $t('story.pluto.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="100" :nodamage="true"></mine-object>
                        <span>{{ $t('story.pluto.quote') }}</span>
                    </div>
                    <p>{{ $t('story.pluto.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('theMoon')">
                    <p>{{ $t('story.theMoon.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="101" :nodamage="true"></mine-object>
                        <span>{{ $t('story.theMoon.quote') }}</span>
                    </div>
                    <p>{{ $t('story.theMoon.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('mars')">
                    <p>{{ $t('story.mars.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="105" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mars.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('venus')">
                    <p>{{ $t('story.venus.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="106" :nodamage="true"></mine-object>
                        <span>{{ $t('story.venus.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('saturn')">
                    <p>{{ $t('story.saturn.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="109" :nodamage="true"></mine-object>
                        <span>{{ $t('story.saturn.quote') }}</span>
                    </div>
                    <p>{{ $t('story.saturn.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('jupiter')">
                    <p>{{ $t('story.jupiter.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="110" :nodamage="true"></mine-object>
                        <span>{{ $t('story.jupiter.quote') }}</span>
                    </div>
                    <p>{{ $t('story.jupiter.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('wasp79b')">
                    <p>{{ $t('story.wasp79b.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="114" :nodamage="true"></mine-object>
                        <span>{{ $t('story.wasp79b.quote') }}</span>
                    </div>
                    <p>{{ $t('story.wasp79b.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('hyperSaturn')">
                    <p>{{ $t('story.hyperSaturn.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="124" :nodamage="true"></mine-object>
                        <span>{{ $t('story.hyperSaturn.quote') }}</span>
                    </div>
                    <p>{{ $t('story.hyperSaturn.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('superEarth')">
                    <p>{{ $t('story.superEarth.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="134" :nodamage="true"></mine-object>
                        <span>{{ $t('story.superEarth.quote') }}</span>
                    </div>
                    <p>{{ $t('story.superEarth.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('colossia')">
                    <p>{{ $t('story.colossia.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="137" :nodamage="true"></mine-object>
                        <span>{{ $t('story.colossia.quote') }}</span>
                    </div>
                    <p>{{ $t('story.colossia.text2') }}</p>
                
                    <div v-if="storyDisplayed('giagantia')">
                        <div class="story-quote">
                            <mine-object :level="138" :nodamage="true"></mine-object>
                            <span>{{ $t('story.giagantia.quote') }}</span>
                        </div>
                        <p>{{ $t('story.giagantia.text1') }}</p>
                    </div>
                
                    <div v-if="storyDisplayed('garagantula')">
                        <div class="story-quote">
                            <mine-object :level="139" :nodamage="true"></mine-object>
                            <span>{{ $t('story.garagantula.quote') }}</span>
                        </div>
                        <p>{{ $t('story.garagantula.text1') }}</p>
                    </div>
                
                    <div v-if="storyDisplayed('planetOmega')">
                        <div class="story-quote">
                            <mine-object :level="140" :nodamage="true"></mine-object>
                            <span>{{ $t('story.planetOmega.quote') }}</span>
                        </div>
                        <p>{{ $t('story.planetOmega.text1') }}</p>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('breakPlanetOmega')">
                    <p>{{ $t('story.breakPlanetOmega.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="140" :nodamage="true"></mine-object>
                        <span>{{ $t('story.breakPlanetOmega.quote') }}</span>
                    </div>
                    <p>{{ $t('story.breakPlanetOmega.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('planet160')">
                    <p>{{ $t('story.planet160.text1') }}</p>
                </div>
                
                <div v-if="storyDisplayed('reachWisdomEssence')">
                    <p>{{ $t('story.reachWisdomEssence.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="169" :nodamage="true"></mine-object>
                        <span>{{ $t('story.reachWisdomEssence.quote') }}</span>
                    </div>
                    <p>{{ $t('story.reachWisdomEssence.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('breakWisdomEssence')">
                    <p>{{ $t('story.breakWisdomEssence.text1') }}</p>
                    <p>{{ $t('story.breakWisdomEssence.text2') }}</p>
                    <p>{{ $t('story.breakWisdomEssence.text3') }}</p>
                    <h4>{{ $t('story.breakWisdomEssence.howToGetWisdom') }}</h4>
                    <p>{{ $t('story.breakWisdomEssence.wisdomExplanation') }}</p>
                </div>
                
                <div v-if="storyDisplayed('miningStars')">
                    <p>{{ $t('story.miningStars.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="170" :nodamage="true"></mine-object>
                        <span>{{ $t('story.miningStars.quote') }}</span>
                    </div>
                    <p>{{ $t('story.miningStars.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('wisdomUpgrade')">
                    <p>{{ $t('story.wisdomUpgrade.text1') }}</p>
                    <div class="story-quote">
                        <img src="Images/wisdom.png"/>
                        <span>{{ $t('story.wisdomUpgrade.quote') }}</span>
                    </div>
                    <p>{{ $t('story.wisdomUpgrade.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('mineSun')">
                    <p>{{ $t('story.mineSun.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="173" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineSun.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('minePolaris')">
                    <p>{{ $t('story.minePolaris.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="178" :nodamage="true"></mine-object>
                        <span>{{ $t('story.minePolaris.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineBetelgeuse')">
                    <p>{{ $t('story.mineBetelgeuse.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="186" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineBetelgeuse.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineScuti')">
                    <p>{{ $t('story.mineScuti.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="190" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineScuti.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineStarGroup')">
                    <p>{{ $t('story.mineStarGroup.text1') }}</p>
                </div>
                
                <div v-if="storyDisplayed('mineSmallGalaxy')">
                    <p>{{ $t('story.mineSmallGalaxy.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="197" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineSmallGalaxy.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineMilkyWay')">
                    <p>{{ $t('story.mineMilkyWay.text') }}</p>
                    <div class="story-quote">
                        <mine-object :level="199" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineMilkyWay.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineLocalGroup')">
                    <p>{{ $t('story.mineLocalGroup.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="205" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineLocalGroup.quote') }}</span>
                    </div>
                    <p>{{ $t('story.mineLocalGroup.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('mineGalaxyCluster')">
                    <p>{{ $t('story.mineGalaxyCluster.text') }}</p>
                    <div class="story-quote">
                        <mine-object :level="208" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineGalaxyCluster.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineGalaxySuperCluster')">
                    <p>{{ $t('story.mineGalaxySuperCluster.text') }}</p>
                    <div class="story-quote">
                        <mine-object :level="210" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineGalaxySuperCluster.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineFilament')">
                    <p>{{ $t('story.mineFilament.text') }}</p>
                    <div class="story-quote">
                        <mine-object :level="212" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineFilament.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('reachUniverse')">
                    <p>{{ $t('story.reachUniverse.text') }}</p>
                    <div class="story-quote">
                        <mine-object :level="214" :nodamage="true"></mine-object>
                        <span>{{ $t('story.reachUniverse.quote') }}</span>
                    </div>
                </div>
                
                <div v-if="storyDisplayed('mineUniverse')">
                    <p>{{ $t('story.mineUniverse.text1') }}</p>
                    <div class="story-quote">
                        <mine-object :level="215" :nodamage="true"></mine-object>
                        <span>{{ $t('story.mineUniverse.quote') }}</span>
                    </div>
                    <p>{{ $t('story.mineUniverse.text2') }}</p>
                </div>
                
                <div v-if="storyDisplayed('mineUniverse')">
                    <h3>{{ $t('story.conclusion.title') }}</h3>
                    <p>{{ $t('story.conclusion.text1') }}</p>
                    <p v-html="$t('story.conclusion.text2', { longGoal1: numberFormatter.format(story.longGoal1), longGoal2: numberFormatter.format(story.longGoal2) })"></p>
                    <p>{{ $t('story.conclusion.text3') }}</p>
                </div>                
            </div>
            <p v-if="getNextStoryText() !== null" class="objective">
                <b>{{ $t('story.nextObjective.title') }}</b><br/>
                {{ getNextStoryText() }}
            </p>
            
            </article>
            </main>
            <footer>
                <button @click="changeTab('main')">
                    <img src="Images/pickaxe.png" alt="pickaxe" class="inline" /> {{ $t('tabs.mining') }}
                </button>
                <button v-if="powers.unlocked()" @click="changeTab('powers')">
                    <img src="Images/wisdom.png" alt="powers" class="inline" /> {{ $t('tabs.powers') }}
                </button>
                <button @click="changeTab('story')" class="story-tab">
                    <span v-if="story.notifications > 0" class="notification">{{ story.notifications }}</span>
                    <img :class="{notification: story.notifications > 0}" src="Images/story.png" alt="pickaxe" class="inline" />
                    {{ $t('tabs.story') }}
                </button>
                <button @click="changeTab('settings')">
                    <img src="Images/settings.png" alt="options" class="inline" /> {{ $t('tabs.settings') }}
                </button>
            </footer>            
</div>

<!-- development version, includes helpful console warnings -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
<!-- production version, optimized for size and speed -->
<script src="https://unpkg.com/vue-i18n@8"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/break_infinity.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@antimatter-dimensions/notations@1.6.0"></script>
<script src="Scripts/adcommunitynotations.js"></script>
<script src="Scripts/customnotations.js"></script>
<script src="Scripts/random.js"></script>
<script src="Scripts/utils.js"></script>
<script src="Scripts/mineobject.js"></script>
<script src="Scripts/upgrade.js"></script>
<script src="Scripts/pickaxe.js"></script>

<script src="Scripts/Components/mine-object.js"></script>
<script src="Scripts/Components/upgrade.js"></script>
<script src="Scripts/Components/upgrade-standalone.js"></script>
<script src="Scripts/Components/powers-table.js"></script>

<script src="Scripts/Define/dictionary.js"></script>
<script src="Scripts/Define/game.js"></script>
<script src="Scripts/Define/functions.js"></script>

<script src="Scripts/i18n.js"></script>
<script src="Scripts/main.js"></script>

</body>
</html>